html,
body{

  height:100%;
  font-family: 'Lato', sans-serif;
}

body{
  background:url(/assets/img/bg-desktop.jpg) no-repeat top center #0590d8;
  background-size:cover;
}
main{
  padding:20px 0;

}
.center{
  text-align: center;
}
.lgu-logo{
  padding:8px 0 5px 0;
}
.logbox-main{
  margin:0 20px
}
.lgu-logo p{
  color:#fff;
  font-size:18px;
  padding:15px 0 0 0;
  margin:0 0 5px 0;
}
.daily-log{
  background:#fff;
  border-radius:8px;
  padding:35px 10px 20px 10px;
  position: relative;
  margin:30px 0 10px 0;
}
.daily-log .logbook-span{
  width:201px;
  height:46px;
  background:url(images/daily-log-text.png) no-repeat;
  position: absolute;
  top:-25px;
  left: 50%;
  transform: translate(-50%, 0);
  text-indent:-99999px;
}
.time h2{
  border:#d9d9d9 solid 1px;
  padding:4px 10px;
  font-size:43px;
  font-weight: 900;
  color:#0138a8;
  width:80%;
  margin:auto;
  margin-bottom:20px;
}
.date ul{
  list-style: none;
  margin:0;
  padding:0;
}
.date ul li{
  display: inline-block;
  padding:0 10px;
  font-weight: 800;
  font-size: 15px;
  position: relative;
  color: #000
}
.date ul li:nth-child(1):before{
  content:'';
  background:#808080;
  position: absolute;
  right:0;
  top:5px;
 height:15px;
 width:1px;
  display: block;
}
.date ul li i{
  color:#a0a0a0;
}
.qr-preview{
margin:10px 0;
}
.optional-btn a{
  border:#fff solid 1px;
  display: inline-block;
  padding:8px 50px;
  border-radius: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  color:#fff;
  font-size:20px;
}
.logbox-main{
  padding-bottom:50px;
}
@media screen and (min-width: 830px) {

  .daily-log{
    max-width:50%;
    margin:auto;
    margin-bottom:20px;
  }
  .lgu-logo{
    margin-bottom:30px;
  }
  .time h2{
    width: 60%;
  }
} 
@media screen and (max-width: 375px) {
    main{
        width:375px;
    }
}

.vid-container {
    /* width: calc(100% - 10px);
    max-width: 280px; */
    width: 150px;
    padding: 10px;
    background:
        linear-gradient(to right, black 4px, transparent 4px) 0 0,
        linear-gradient(to right, black 4px, transparent 4px) 0 100%,
        linear-gradient(to left, black 4px, transparent 4px) 100% 0,
        linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
        linear-gradient(to top, black 4px, transparent 4px) 0 100%,
        linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin: auto;
}


